<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= title %> di profil anda</p>
<p class="lead mb-3">Anda dari kelas <%= kelas %> <%= jurusan %> <%= index %></p>
<p class="lead mb-3">Anda berada di nomor absen <%= absen %> </p>
<p class="lead mb-3">Point anda sekarang <%= poin %> </p>

<a href="/logout" class="btn btn-secondary">Logout</a>